<button mat-raised-button > Add column </button>
<!-- <button mat-raised-button (click)="removeColumn()"> Remove column </button> -->
<!-- <button mat-raised-button (click)="shuffle()"> Shuffle </button> -->

<table mat-table [dataSource]="['a', 'b', 'c']" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of [1, 2, 3, 4]">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
</table>
  