<div class="container-row">
    <div class="container-column">
        <div>
            <mat-label>
                <span>Nova Consulta</span>
                <form [formGroup]="formConsulta">
                    <mat-form-field appearance="outline">
                        <mat-label>
                            Especialidade
                        </mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                        </mat-select>
                    </mat-form-field>                    
                </form>
            </mat-label>
        </div>
    </div>
</div>